<div class="container-fluid">
<div class="container d-flex flex-row ">
  <button class="btn btn-primary m-1" (click)="toggleSidebar()">Toggle Sidebar</button>
  <div class="dropdown p-2">
    <button class="btn btn-secondary dropdown-toggle p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
  <div class="w-100 bg-success vh-100 d-flex flex-row">
    <div [ngClass]="{'d-none': !isOpened}" class="bg-info vh-100" style="width: 15%;">
      <app-sidebar [isSidebarOn]="isOpened"></app-sidebar>
    </div>
    <div [ngClass]="{'w-100': !isOpened}" class=" bg-secondary vh-100" style="width: 90%;">

    </div>
  </div>
</div>