<main class="container">
  <div id="header">
    <div id="head-caption">
      <h1 class="text-black fw-bold">Accelerate Your Angular Development with Ready-to-Use Components!!!</h1>
      <h6 class="text-black-50 mt-2">Copy high-quality, pre-built Angular components to jumpstart your web applications.
      </h6>
    </div>
    <div id="head-image">
      <img src="/assets/angular.svg" alt="angular" class="w-50 h-50 ">
    </div>
  </div>
</main>
 <section class="container m-md-1 border-1 border-dark-subtle mb-md-5 mt-5" id="">
   <!-- <div class="container row d-flex flex-row justify-content-evenly ms-5">
        <div class="col-12 col-md-4 mt-1 mt-md- 0">
            <div class="card shadow p-2" style="width: 18rem;">
                <img src="/assets/AB.jpg" class="card-img-top  " alt="...">
                <div class="card-header text-center">
                    Bootstrap Components
                  </div>
                <div class="card-body text-center">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Explore</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4 mt-1 mt-md-5 ">
            <div class="card shadow p-2" style="width: 18rem;">
                <img src="/assets/AM.jpg" class="card-img-top" alt="...">
                <div class="card-header text-center">
                    Material Components
                  </div>
                <div class="card-body text-center">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Explore</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4 mt-1 mt-md-0">
            <div class="card shadow p-2" style="width: 18rem;">
                <img src="/assets/AT.png" class="card-img-top " alt="...">
                <div class="card-header text-center">
                    Tailwind Components
                  </div>
                <div class="card-body text-center">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Explore</a>
                </div>
              </div>
        </div>
    </div> -->
</section>
